.card {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__header {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 21px;
  height: 18px;
  background-color: transparent;
  background-image: url(../images/heart-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: opacity 0.2s linear;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
