.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  margin-left: 0px;
  color: #545454;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (min-width: 320px) and (max-width: 758px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 19px;
  }
}