.header {
    margin-top: 45px;
    padding-bottom: 41px;
    opacity: 0.7;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 560px) {
    .header {
      margin: 26px 163px 0 0;
      padding-bottom: 30px;
    }
  
    .header__logo {
      margin-left: 25px;
      height: 23px;
      width: 124px;
    }
  }@media screen and (min-width: 560px) and (max-width: 930px){
    .header__logo{
      margin-left:15px;
    }
  }